---
# key-value mapping of actor-leak site URL
sites:
  conti: http://something.onion
  revil: http://something.onion
  avaddon: http://something.onion
  darkside: http://something.onion
  babuk: http://something.onion
  ranzy: http://something.onion
  astro: http://something.onion
  pay2key: http://something.onion
  cuba: http://something.onion
  ransomexx: http://something.onion
  mount: http://something.onion
  ragnarok: http://something.onion
  ragnar: http://something.onion
  suncrypt: http://something.onion
  everest: http://something.onion
  nefilim: http://something.onion
  cl0p: http://something.onion
  pysa: http://something.onion
  lockbit: http://something.onion
  xing: http://something.onion
  lorenz: http://something.onion
  elcometa: http://something.onion
  arvin: http://something.onion
  blackmatter: http://something.onion
  avoslocker: http://something.onion
  lv: http://something.onion
  marketo: http://something.onion
  lockdata: http://something.onion
  # this has to be their API url, see readme for details
  hive: http://hiveapisomething.onion
  rook: http://something.onion
  blackbyte: http://something.onion
  alphv: http://something.onion
  blackbasta: http://something.onion
  vice spider: http://something.onion
  royal: http://something.onion
  blacktor: http://something.onion
  darkleakmarket: http://something.onion
  quantum: http://something.onion
  dataleak: http://something.onion
  omega: http://something.onion
  mallox: http://something.onion
  qilin: http://something.onion
  unsafe: http://something.onion
  play ransomware: http://something.onion
  bianlian: http://something.onion
  daixin: http://something.onion
  relic: http://something.onion
  ransomhouse: http://something.onion
  nokoyawa: http://something.onion
  snatch: http://something.onion
  kakarut: http://something.onion
  free civilian: http://something.onion

# slack webhooks
notifications:
  dest1:
    # type of notification
    # valid options: slack, discord, Teams
    type: slack

    # url for the webhook (slack, discord, Teams)
    url: https://hooks.slack.com/services/something/goes/here

    # should new victim notifications be sent to this webhook?
    new_victims: true

    # should removed victim notifications be sent to this webhook?
    removed_victims: true

    # should notifications be sent to this webhook if a site is detected as down?
    down_sites: true

    # should errors be sent to this webook?
    errors: true

    # may in the future add support for not sending leak site links
    # if you actively want this, open an issue (or make a PR)
  dest2:
    type: slack
    url: https://hooks.slack.com/services/something/else/goes/here
    new_victims: true
    removed_victims: true
    down_sites: true
    errors: false
  dest3:
    type: ctis
    url: https://example.com
    username: user
    password: pass
    new_victims: true
    removed_victims: false # not implemented, useless
    down_sites: false # not implemented, useless
    errors: false # not implemented, useless

# how many seconds to wait for a connection
# this is used to check if the site is up, and doesn't wait
# for the full page data to be downloaded
timeout: 30

# tor proxy settings
# the values set below are for the provided docker-compose.yml
# adjust for your own custom environment
proxy:
  # hostname for the proxy
  hostname: proxy

  # port for the SOCKS proxy
  socks_port: 9050

  # port for the tor control service
  control_port: 9051

  # password for the tor control service
  password: password

slack_to_ctis:
  slack_error_url: PLACEHOLDER
  slack:
    token: PLACEHOLDER
    channel_id: PLACEHOLDER
  ctis:
    url: PLACEHOLDER
    username: PLACEHOLDER
    password: PLACEHOLDER
  time_path: PLACEHOLDER
